*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  overflow-wrap: break-word;
}

a:link,
a:hover {
  text-decoration: none;
  display: inline-block;
}

html,
body {
  height: 100%;
}

body,
main {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #001d3d;
}

main {
  padding: 5.5rem 1.5rem;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-brands__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 920px;
  min-height: 500px;
}

.car-brand {
  padding: 48px;
  color: white;
}
.car-brand:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.car-brand:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.car-brand.sedan {
  background-color: #03045e;
}
.car-brand.suv {
  background-color: #8d0710;
}
.car-brand.luxury {
  background-color: #3a0ca3;
}
.car-brand img {
  margin-bottom: 35px;
}
.car-brand__title {
  transition: all 0.4s ease-in-out;
  font-family: "Big Shoulders Display", cursive;
  font-size: calc(min(max(2.5rem, 2.4375rem + 0.3125vw), 2.8125rem));
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.car-brand__info {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 1.56;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-bottom: 25px;
}
.car-brand__cta {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  border: none;
  border-radius: 1.56rem;
  width: 100%;
  max-width: 146px;
  min-height: 3rem;
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}
.car-brand__cta.sedan {
  color: #03045e;
}
.car-brand__cta.suv {
  color: #8d0710;
}
.car-brand__cta.luxury {
  color: #3a0ca3;
}
.car-brand__cta:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.creation {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  background: #0c141d;
  color: white;
  padding: 10px;
  width: 327px;
  flex-wrap: wrap;
  font-family: monospace;
  overflow: hidden;
  z-index: 1;
}
.creation .author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.creation button {
  margin-top: 10px;
  padding: 5px;
  flex: 1;
}
.creation .author,
.creation a {
  flex: 1 1 340px;
}
.creation a {
  color: white;
  background: #3a0ca3;
  padding: 10px;
  text-align: center;
  border: 1px solid #0c141d;
}
.creation a:hover {
  background-color: #0c141d;
  border-color: white;
}

@media (min-width: 740px) {
  body {
    background-image: url("images/bg-desktop.jpg");
    background-size: cover;
    opacity: 0.9;
  }
  .car-brands__container {
    display: flex;
    flex-direction: row;
  }
  .car-brand {
    padding: 48px;
    color: white;
  }
  .car-brand:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
  .car-brand:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
